* {
  box-sizing: border-box; /* Box Sizing - визначає як вираховується розмір елементу (ширина і висота). Якщо box-sizing немає, ширина і висота задається до основного 
  контенту, а відступи border i padding додадуться окремо. А з box-sizing ми задаємо максимальні розміри всього елементу */
}

.parent {
  padding: 20px;
  border: 1px dotted black;
}

.item.red {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: red;
}

.item.green {
  width: 100px;
  height: 100px;
  background-color: green;
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
}
